body{
    background-color: teal;
}
h1 {
    color: red;
    font-size: 64px;
}
p {
    color: green;
    font-size: 24px;
}
.heading {
    color: red;
}
.awsome {
    color: red;
}
#unique {
    color: wheat;
}